<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Aviões</title>
    <!-- Adicione o link para o CSS do Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Adicione o link para o arquivo de estilo externo -->
    <link href="/styles/styles.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5 mb-4">Lista de Aviões</h1>
        <!-- Envolve a tabela em um elemento com a classe 'table-scroll' para adicionar uma barra de rolagem vertical -->
        <div class="table-scroll">
            <table id="airplanes-table" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Companhia Aérea</th>
                        <th>Número do Voo</th>
                        <th>cidade Destino</th>
                        <th>Porta de Embarque</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Os dados das aeronaves serão carregados dinamicamente aqui -->
                    </tbody>
                </table>
            </div>
            <!-- Adiciona a paginação horizontal -->
            <nav aria-label="Page navigation">
                <ul id="pagination" class="pagination justify-content-center">
                    <!-- Os itens de paginação serão adicionados dinamicamente aqui -->
                </ul>
            </nav>
        </div>
    
        <!-- Adicione o link para o JavaScript do Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <!-- Adicione o link para o arquivo JavaScript externo -->
        <script src="/scripts/script.js"></script>

    </body>
    </html>
    